<footer class="footer">
    <div class="content has-text-centered">
      <p> Paid for by <strong>Let’s Do Our Best </strong>|
      <a href="https://twitter.com/voteno303">
        <span class="icon">
          <i class="fab fa-twitter"></i>
        </span>
      </a>
      <a href="https://instagram.com/voteno303">
        <span class="icon">
          <i class="fab fa-instagram"></i>
        </span>
      </a>
      <a href="https://facebook.com/Lets-Do-Our-Best-Vote-No-on-303-107758808343360/">
        <span class="icon">
          <i class="fab fa-facebook"></i>
        </span>
      </a>
       </p>
    </div>
</footer>
