<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a href="/" class="navbar-item logo">
      <img src="{{ '/assets/logo/logo.png' | relative_url }}" alt="Vote No On 303" class="is-hidden-mobile">
      <img src="{{ '/assets/logo/logo.png' | relative_url }}" alt="Vote No On 303" class="is-hidden-tablet">
    </a>
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-rounded event-btn" href="{{ 'events' | relative_url }}">
            <strong>Volunteer</strong>
          </a>
          <a class="button is-rounded event-btn" href="https://secure.actblue.com/donate/let-s-do-our-best-1">
            <strong>Donate</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</nav>
