html {font-family: 'Roboto', sans-serif !important;
      background-color:  #f1cfd6;}

body footer {background-color:  #f1cfd6 !important;}
a {color: #e75d9f;}
p:not(:last-of-type) {
    margin-bottom: 1em;
}

summary {
    cursor: pointer;
}

/* NAV */
nav {
    display: flex;
    padding: 2px;
    background-color: #f1cfd6 !important;
}
nav a {
    background-color: #f1cfd6 !important;
    padding: 4px 1rem;
    margin: 0 2px;
    text-decoration: none;
}

.navbar-menu.is-active{
    background-color: #f1cfd6 !important;
    box-shadow: none;
}
@media only screen and (max-width: 600px) {
    nav .navbar-brand .button {
        padding: 0 0.25rem;
    }
}

/* Home */
.main-title {margin-left: 1rem; margin-top: 0.25rem; font-size:2rem;}
.cards .card p, .cards .card a{ margin-left: 3rem;}

.cards .card h2 {margin-left: 2rem;}

.card {padding: 1rem; box-shadow:none;}

/* Google Doc embed */

.gdoc {
    min-height: 100vh;
}

.gdoc > div {
    max-width: none !important;
    padding: 0;
}

/* Google Doc iframe fallback */
/* WARNING: too much content height above the iframe will cause it to shrink */
body.iframe {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.gdoc--iframe {
    display: flex;
    flex: 1 1 auto;
}

.gdoc--iframe iframe {
    width: 100%;
    border: 0;
}

/* Misc */
.event-btn {
    color: #fff;
    background-color: #58c5c6 !important;
    border-color:#58c5c6 !important; }

.event-btn:hover {
    background-color: #f1cfd6 !important;
    color: #e75d9f;
}

.calendar-btn {
    color: #fff;
    background-color:  #e75d9f !important;
    border-color:  #e75d9f !important; }

.calendar-btn:hover {
   background-color: #f1cfd6 !important;
   color: #e75d9f;}


#header-img img {
   width: 100%;
   height: auto;
}

/* Events */
.viewerArea.l-background[style]
{background: #f1cfd6 !important;}

/* Endorsements */
.endorsements {padding-top: 1rem;}

.endorsements .column {padding: 0;}
.endorsements li {font-size: 12pt; font-weight: 400; font-family: 'Roboto', sans-serif !important; padding:0.25rem 0;}

.signatories{padding-left:1rem; font-weight:bold;}
